<head>
    <link href="styles/default.css" rel="stylesheet" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet" type='text/css'>
    <script src="scripts/jquery-3.6.0.js"></script>
</head>

<div class="navbar">
    <div>
        <a id="menu" href="#">
            <img src="images/menu-icon.png" alt="Menu" style="height: 40px; width: 40px; display: block; margin-left: 15%; margin-right: 85%; margin-top: 50px; margin-bottom: 50px;">
        </a>
    </div>
    <div>
        <a href="index.html" style="text-decoration: none; color: #252627;">
            <h1 class="center">P.H.A.T. Tags</h1>
        </a>
    </div>
    <div>
        <a id="search" href="#">
            <img src="images/magnifying-glass-icon.png" alt="Search" style="height: 30px; width: 30px; display: block; margin-left: auto; margin-right: auto; margin-top: 50px; margin-bottom: 50px;">
        </a>
        <div id="searchbar">
            <input id="textbar" type="text" placeholder="Search...">
            <button type="submit">
                <i class="fa fa-search"></i>
            </button>
        </div>
    </div>
    <div>
        <a href="cart.html">
            <img src="images/shopping-cart-icon.png" alt="Cart" style="height: 30px; width: 30px; display: block; margin-left: auto; margin-right: auto; margin-top: 50px; margin-bottom: 50px;">
        </a>
    </div>
</div>

<div id="dropdown">
    <a href="index.html">Home</a><br><br>
    <a href="shop-now.html">Shop Now</a><br><br>
    <a href="about-us.html">About Us</a><br><br>
    <a href="contact-us.html">Contact Us</a><br><br>
</div>

<script>
    $(document).ready(function() 
    {
        $("#menu").click(function() 
        {
            if ($("#dropdown").first().is( ":hidden")) 
            {
                $("#dropdown").slideDown(300);
            } 
            else 
            {
                $("#dropdown").slideUp(300);
            }
        });

        $("#search").click(function() 
        {
            if ($("#searchbar").is(":hidden"))
            {
                $("#search").hide(300, function() 
                {
                    $("#searchbar").fadeIn(300);
                });
            }
            else
            {
                $("#searchbar").hide(300, function() {
                    $("#search").show(300);
                });
            }
        });

        const pages = [
            {name: "about us"},
            {name: "contact us"},
            {name: "shop"},
            {name: "create account"}
        ];
    });
</script>

