body 
{
    background-color: #D3D0CB;
    height: 100%;
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
}

ul
{
    list-style-type: square;
}

h1
{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto;
    text-align: center;
}

h2, 
h3,
h4,
h5,
p, 
div, 
li
{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto;
}

nav 
{
    text-align: center;
}

a
{
    color: black;
    text-decoration: underline;
}

a:visited
{
    color: white;
}

.first
{
    padding-top: 100px;
}

.contact-info
{
    text-align: center;
    padding: 10px 10px 10px 10px;
}

.center
{
    text-align: center;
}

.video-editing 
{
    background-image: url("../images/video-editing.png");
    color: lightgray;
    margin: 30px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 10px;
    padding: 30px;
}

.main-heading
{
    font-size: 24pt;
}

.big-heading
{
    font-size: 20pt;
}

.mini-logo
{
    display: inline-block;
    width: 20px;
    height: 20px;
    padding-top: 4px;
    padding-bottom: -4px;
    padding-inline-start: 4px;
}

.order-button-container
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.order-button-1
{
    background-color: rgba(0, 0, 0, 0);
    color: lightgray;
    font-weight: bold;
    font-size: 12pt;
    border: 2px solid lightgray;
    padding: 5px;
    width: 150px;
    height: 50px;
}

.order-button-1:hover
{
    border: 2px solid white;
    color: white;
}

.order-button:active
{
    border: 2px solid gray;
    color: gray;
}

.skill-list
{
    margin-left: 100px;
    margin-right: 100px;
    text-align: justify;
}

.picture-editing 
{
    background-image: url("../images/blurred-picture-editing-SodaPDF.jpg");
    color: lightgray;
    margin: 30px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 10px;
    padding: 30px;
}

.order-button-2
{
    background-color: rgba(0, 0, 0, 0);
    color: black;
    font-weight: bold;
    font-size: 12pt;
    border: 2px solid black;
    padding: 5px;
    width: 150px;
    height: 50px;
}

.order-button-2:hover
{
    border: 2px solid whitesmoke;
    color: whitesmoke;
}

.order-button-2:active
{
    border: 2px solid gray;
    color: gray;
}

.picture-editing-list
{
    margin-right: 100px;
    margin-left: 100px;
    text-align: justify;
}

.computer-building
{
    background-image: url("../images/blurred-pc-building.jpg");
    color: white;
    margin: 30px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 10px;
    padding: 30px;
}

.order-button-3
{
    background-color: rgba(0, 0, 0, 0);
    color: white;
    font-weight: bold;
    font-size: 12pt;
    border: 2px solid white;
    padding: 5px;
    width: 150px;
    height: 50px;
}

.order-button-3:hover
{
    border: 2px solid lightgray;
    color: lightgray;
}

.order-button-3:active
{
    border: 2px solid gray;
    color: gray;
}

.prebuilt-button
{
    background-color: rgba(0, 0, 0, 0);
    color: white;
    font-weight: bold;
    font-size: 12pt;
    border: 2px solid white;
    padding: 5px;
    width: 150px;
    height: 50px;
}

.prebuilt-button:hover
{
    border: 2px solid lightgray;
    color: lightgray;
}

.prebuilt-button:active
{
    border: 2px solid gray;
    color: gray;
}

.form 
{
    display: flex;
    justify-content: center;
}

.contact-form
{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto;
}

.form-submit
{
    background-color: #587B7F;
    color: white;
    margin-left: 160px;
    height: 30px;
    width: 60px;
}

.form-submit:hover 
{
    background-color: darkgray;
}